<%= form_with(model: car, local: true) do |form| %>
  <% if car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date_posted %>
    <%= form.date_select :date_posted %>
  </div>
  
  <div class="field">
  <%= form.label :cost %>
  <%= form.number_field :cost %>
</div>
  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model %>
  </div>

  <div class="field">
    <%= form.label :kilometres %>
    <%= form.number_field :kilometres %>
  </div>

  <div class="field">
    <%= form.label :last_edited %>
    <%= form.date_select :last_edited %>
  </div>

  <div class="field">
    <%= form.label :year_manufactured %>
    <%= form.number_field :year_manufactured %>
  </div>

  <div class="field">
    <%= form.label :make %>
    <%= form.text_field :make %>
  </div>

  
  <div class="field">
    <%= form.label :body %>
    <%= form.text_field :body %>
  </div>
  <div class="field">
    <%= form.label :transmission %>
    
  </div>
  

  <% @transmissions.each do |option| %>
    <div>
        <%= form.radio_button :transmission, option %>
        <%= form.label "transmission_#{option}".to_sym, option %>
    <div>
<% end %>
<div class="field">
    <%= form.label :air_conditioning%>
    
  </div>
  <% @air_conditionings.each do |option| %>
  <div>
      <%= form.radio_button :air_conditioning, option %>
      <%= form.label "air_conditioning_#{option}".to_sym, option %>
  <div>
<% end %>
  

  

  <div class="field">
    <%= form.label :colour %>
    <%= form.text_field :colour %>
  </div>
  <div class="field">
  <%= form.label :picture %> <%= form.file_field :picture, accept:
  'image/png,image/gif,image/jpeg,image/jpg' %>
</div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
