<p id="notice"><%= notice %></p>

<h1 style="color:blue;font-size:46px;">Cars</h1>

<table>
  <thead>
    <tr>
      <th>Date posted</th>
      <th>Cost</th>
      <th>Model</th>
      <th>Kilometres</th>
      <th>Last edited</th>
      <th>Year manufactured</th>
      <th>Make</th>
      <th>Body</th>
      <th>Transmission</th>
      <th>Air conditioning</th>
      <th>Colour</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.date_posted %></td>
        <td><%= car.cost %></td>
        <td><%= car.model %></td>
        <td><%= car.kilometres %></td>
        <td><%= car.last_edited %></td>
        <td><%= car.year_manufactured %></td>
        <td><%= car.make %></td>
        <td><%= car.body %></td>
        <td><%= car.transmission %></td>
        <td><%= car.air_conditioning %></td>
        <td><%= car.colour %></td>
        <td><%= link_to 'Show', car %></td>
        
        <td><%= link_to 'Edit', edit_car_path(car) %></td>
        <td><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Car', new_car_path %>
